<div class="columns">
  <div class="column col-12" style="padding:15px;">
    <h3>Trajectory Optimizations</h3>
  </div>
</div>
<% if @optimizations.empty? %>
  <div class="columns">
    <div class="column col-12" style="padding:0 15px;">
      <h1>No Trajectory Optimizations</h1>
    </div>
  </div>
<% else %>
  <% @optimizations.each_slice(4).each do |optimization_row| %>
    <div class="columns">
      <% optimization_row.each do |optimization| %>
        <div class="column col-3" style="padding:15px;">
          <a href="/trajectory_optimizations/<%= optimization.id %>" style="text-decoration:none;">
            <div class="card" style="position:relative">
              <div class="card-body">
                <div style="font-size:20px;position:absolute;top:8px;right:12px;">#<%= optimization.id %></div>
                <div>Episode #<%= optimization.episode.id %></div>
                <div><%= optimization.episode.name %></div>
                <div><%= optimization.episode.timestep %>ms timestep</div>
                <div>Total <%= optimization.max_iteration_count %> iterations</div>
                <div><%= JSON.parse(optimization.states_list).length %> states</div>
                <div><%= JSON.parse(optimization.commands_list).length %> commands</div>
                <div><%= JSON.parse(optimization.simulator_log_list).length %> simulator_logs</div>
                <div>@ <%= optimization.created_at.strftime("%F %T") %></div>
              </div>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
