<%= render partial: "layouts/title", locals: { id: @optimization.id, title: @optimization.episode.name, url: "/trajectory_optimizations/#{@optimization.id}/destroy" } %>
<div class="columns">
  <div class="column col-5" style="padding:15px;padding-bottom:0px;">
    <h4><a id="inspect" href="#inspect" style="text-decoration:none;">Brief Inspection</a></h4>
  </div>
  <div class="column col-7" style="margin-top:20px;padding:15px;text-align:right;">
    <ul class="pagination" style="margin:0;padding:0;">
      <li class="page-item active">
        <a href="/trajectory_optimizations/<%= @optimization.id %>">All</a>
      </li>
      <% (0...@optimization.max_iteration_count).each do |i| %>
          <li class="page-item<%= " active" if i == @iteration_id %>">
            <a href="/trajectory_optimizations/<%= @optimization.id %>/<%= i %>"><%= i %></a>
          </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="columns">
  <div class="column col-12" style="padding:15px;">
    <div>Time interval between drone commands : <strong><%= @optimization.episode.timestep %>ms</strong></div>
    <div>Max Iteration Count : <strong><%= @optimization.max_iteration_count %></strong></div>
  </div>
</div>
<div class="columns">
  <div class="column col-12" style="margin-top:20px;padding:15px;">
    <a href="/trajectory_optimizations/<%=@optimization.id%>.json" download="optimization#<%=@optimization.id%>-<%=@optimization.episode.name%>.json" class="btn btn-block">Download This optimization</a>
  </div>
</div>
<div class="divider"></div>
<div class="columns">
  <div class="column col-12" style="padding:15px;">
    <h4><a id="states_list" href="#states_list" style="text-decoration:none;">TrajectoryOptimization.states_list</a></h4>
    <span>States of world reference trajectory in JSON.</span>
    <span><strong>Must be formatted in JSON. Rotations in degree, divided by 10 for representation.</strong></span>
    <%= render partial: "layouts/chart_multiple", locals: { title: "states", data: @optimization.states_list, keys: ["x", "y", "z", "rx", "ry", "rz"] } %>
    <h6 data-id="states_list_code" class="copy">Raw Data</h6>
    <pre id="states_list_code" class="code lang-js" style="height:84px;"><%= json_stringify(@optimization.states_list, nil, true) -%></pre>
  </div>
</div>
<div class="divider"></div>
<div class="columns">
  <div class="column col-12" style="padding:15px;padding-bottom:0px;">
    <h4><a id="commands_list" href="#commands_list" style="text-decoration:none;">TrajectoryOptimization.commands_list</a></h4>
    <span>Actual commands for drone with repect to drone's body coordinate in JSON.</span>
    <span><strong>Must be formatted in JSON</strong></span>
    <%= render partial: "layouts/chart_multiple", locals: { title: "commands", data: @optimization.commands_list, keys: ["dx", "dy", "dz", "dyaw"] } %>
    <h6 data-id="commands_list_code" class="copy">Raw Data</h6>
    <pre id="commands_list_code" class="code lang-js" style="height:84px;"><%= json_stringify(@optimization.commands_list, nil, true) -%></pre>
  </div>
</div>
<div class="divider"></div>
<div class="columns">
  <div class="column col-12" style="padding:15px;padding-bottom:0px;">
    <h4><a id="simulator_log_list" href="#simulator_log_list" style="text-decoration:none;">TrajectoryOptimization.simulator_log_list</a></h4>
    <span>Simulator Log from client.</span>
    <span><strong>Must be formatted in JSON</strong></span>
    <%= render partial: "layouts/chart_multiple", locals: { title: "simulator_log", data: @optimization.simulator_log_list, keys: ["x", "y", "z", "rx", "ry", "rz"] } %>
    <h6 data-id="simulator_log_list_code" class="copy">Raw Data</h6>
    <pre id="simulator_log_list_code" class="code lang-js" style="height:84px;"><%= json_stringify(@optimization.simulator_log_list, nil, true) -%></pre>
  </div>
</div>
<script type="text/javascript">
  const codeBlocks = document.getElementsByTagName("pre");
  for (let i = 0; i < codeBlocks.length; i++) {
    const block = codeBlocks[i];
    block.onmouseover = () => block.style.height = 'auto';
    block.onmouseout = () => block.style.height = '84px';
  }
</script>
<script>
  var copyToClipboard = (event) => {
    var target = document.querySelector('#' + event.target.dataset.id);
    var range = document.createRange();
    range.selectNode(target);
    window.getSelection().removeAllRanges();
    window.getSelection().addRange(range);
    try {
      var successful = document.execCommand('copy');
      console.log(successful? 'Successfully copied to clipboard' : 'Copy to clipboard failed');
    } catch(err) {
      alert('Could not copy to clipboard');
    }
  };
  document.querySelectorAll('.copy').forEach(button => button.addEventListener('click', copyToClipboard));
</script>
