<div class="columns">
  <div class="column col-7" style="padding:15px;">
    <h3>
      <a href="/trajectory_optimizations" class="btn btn-link zmdi zmdi-chevron-left" style="padding:0px;"></a>
      #<%=@optimization.id%>. <%= @optimization.episode.name %>
    </h3>
  </div>
  <div class="column col-5" style="margin-top:30px;padding:15px;">
    <a href="/trajectory_optimizations/<%=@optimization.id%>/destroy" class="btn btn-block">Delete This Trajectory Optimization</a>
  </div>
</div>
<div class="columns">
  <div class="column col-7" style="padding:15px;padding-bottom:0px;">
    <h4><a id="inspect" href="#inspect" style="text-decoration:none;">Brief Inspection</a></h4>
  </div>
  <div class="column col-5" style="margin-top:20px;padding:15px;">
    <a href="/trajectory_optimizations/<%=@optimization.id%>.json" download="optimization#<%=@optimization.id%>-<%=@optimization.episode.name%>.json" class="btn btn-block">Download This optimization</a>
  </div>
</div>
<div class="columns">
  <div class="column col-12" style="padding:15px;">
    <div>Time interval between drone commands : <strong><%= @optimization.episode.timestep %>ms</strong></div>
    <div>Max Iteration Count : <strong><%= @optimization.max_iteration_count %></strong></div>
  </div>
</div>
<div class="divider"></div>
<div class="columns">
  <div class="column col-12" style="padding:15px;">
    <a href="/episodes/<%= @optimization.episode.id %>" class="btn btn-block">Go to Related Episode : #<%= @optimization.episode.id %> <%= @optimization.episode.name %></a>
  </div>
</div>
<div class="divider"></div>
<div class="columns">
  <div class="column col-12" style="padding:15px;">
    <h4><a id="states_list" href="#states_list" style="text-decoration:none;">TrajectoryOptimization.states_list</a></h4>
    <span>States of world reference trajectory in JSON.</span>
    <span><strong>Must be formatted in JSON. Rotations in degree, divided by 10 for representation.</strong></span>
    <h6>Chart</h6>
    <div style="padding:10px;">
      <%= render partial: "layouts/chart_multiple", locals: { title: "states", data: @optimization.states_list, keys: ["x", "y", "z", "r"] } %>
    </div>
    <h6 data-id="states_list_code" class="copy">Raw Data</h6>
    <pre id="states_list_code" class="code lang-js" style="height:84px;"><%= JSON.pretty_generate(JSON.parse(@optimization.states_list)) -%></pre>
  </div>
</div>
<div class="divider"></div>
<div class="columns">
  <div class="column col-12" style="padding:15px;padding-bottom:0px;">
    <h4><a id="commands_list" href="#commands_list" style="text-decoration:none;">TrajectoryOptimization.commands_list</a></h4>
    <span>Actual commands for drone with repect to drone's body coordinate in JSON.</span>
    <span><strong>Must be formatted in JSON</strong></span>
    <h6>Chart</h6>
    <div style="padding:10px;">
      <%= render partial: "layouts/chart_multiple", locals: { title: "commands", data: @optimization.commands_list, keys: ["roll", "pitch", "throttle", "yaw"] } %>
    </div>
    <h6 data-id="commands_list_code" class="copy">Raw Data</h6>
    <pre id="commands_list_code" class="code lang-js" style="height:84px;"><%= JSON.pretty_generate(JSON.parse(@optimization.commands_list)) -%></pre>
  </div>
</div>
<div class="divider"></div>
<div class="columns">
  <div class="column col-12" style="padding:15px;padding-bottom:0px;">
    <h4><a id="simulator_log_list" href="#simulator_log_list" style="text-decoration:none;">TrajectoryOptimization.simulator_log_list</a></h4>
    <span>Simulator Log from client.</span>
    <span><strong>Must be formatted in JSON</strong></span>
    <h6>Chart</h6>
    <div style="padding:10px;">
      <%= render partial: "layouts/chart_multiple", locals: { title: "simulator_log", data: @optimization.simulator_log_list, keys: ["positionX", "positionY", "positionZ", "yaw", "pitch", "roll"], time_param: "time" } %>
    </div>
    <h6 data-id="simulator_log_list_code" class="copy">Raw Data</h6>
    <pre id="simulator_log_list_code" class="code lang-js" style="height:84px;"><%= JSON.pretty_generate(JSON.parse(@optimization.simulator_log_list)) -%></pre>
  </div>
</div>
<script typt="text/javascript">
  const codeBlocks = document.getElementsByTagName("pre");
  for (let i = 0; i < codeBlocks.length; i++) {
    const block = codeBlocks[i];
    block.onmouseover = () => block.style.height = 'auto';
    block.onmouseout = () => block.style.height = '84px';
  }
</script>
<script>
  var copyToClipboard = (event) => {
    var target = document.querySelector('#' + event.target.dataset.id);
    var range = document.createRange();
    range.selectNode(target);
    window.getSelection().removeAllRanges();
    window.getSelection().addRange(range);
    try {
      var successful = document.execCommand('copy');
      console.log(successful? 'Successfully copied to clipboard' : 'Copy to clipboard failed');
    } catch(err) {
      alert('Could not copy to clipboard');
    }
  }
  document.querySelectorAll('.copy').forEach(button => button.addEventListener('click', copyToClipboard));
</script>
<style>
  .copy {
    color: #5764c6;
    cursor: pointer;
  }
  .copy:hover {
    color: #283176;
  }
</style>