<div class="columns">
  <div class="column col-8" style="padding:15px;">
    <h3>Episodes</h3>
  </div>
  <div class="column col-4" style="margin-top:30px;padding:15px;">
    <a href="/episodes/new" class="btn btn-block">New Episode</a>
  </div>
</div>
<div class="divider"></div>
<% if @episodes.empty? %>
  <div class="columns">
    <h1>No Episodes</h1>
  </div>
<% else %>
  <% @episodes.each_slice(4).each do |episode_row| %>
    <div class="columns">
      <% episode_row.each do |episode| %>
        <div class="column col-3" style="padding:15px;">
          <a href="/episodes/<%= episode.id %>" style="text-decoration:none;">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title"><%= episode.id %>. <%= episode.name %></h4>
            </div>
            <div class="card-body">
              <div>Timestep: <%= episode.timestep %>ms</div>
              <div>States: <%= JSON.parse(episode.states).length %></div>
              <div>State diffs: <%= JSON.parse(episode.diff_states).length %></div>
              <div>Commands: <%= JSON.parse(episode.commands).length %></div>
              <div>Simulator Logs: <%= JSON.parse(episode.simulator_logs).length %></div>
            </div>
          </div>
          </a>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
<div class="divider"></div>
<div class="columns">
  <div class="column col-12" style="padding:15px;">
    <a href="/trajectory_optimizations" class="btn btn-block">Trajectory Optimization Dashboard</a>
  </div>
</div>
<div class="divider"></div>
<h4>Open Source References</h4>
<h6>Bezier Curve Computation : <a href="https://github.com/karatedog/beziercurve">https://github.com/karatedog/beziercurve</a></h6>
<h6>3D Math Computation : <a href="https://github.com/MishaConway/geo3d">https://github.com/MishaConway/geo3d</a></h6>