<div class="columns">
  <div class="column col-8" style="padding:15px;">
    <h3>Episodes</h3>
  </div>
  <div class="column col-4" style="margin-top:30px;padding:15px;">
    <a href="/episodes/new" class="btn btn-block">New Episode</a>
  </div>
</div>
<% if @episodes.empty? %>
  <div class="columns">
    <div class="column col-12" style="padding:0 15px;">
      <h1>No Episodes</h1>
    </div>
  </div>
<% else %>
  <% @episodes.each_slice(4).each do |episode_row| %>
    <div class="columns">
      <% episode_row.each do |episode| %>
        <div class="column col-3" style="padding:15px;">
          <a href="/episodes/<%= episode.id %>" style="text-decoration:none;">
            <div class="card" style="position:relative">
              <div class="card-body">
                <div style="font-size:20px;position:absolute;top:8px;right:12px;">#<%= episode.id %></div>
                <div><%= episode.name %></div>
                <div><%= episode.timestep %>ms timestep</div>
                <div><%= JSON.parse(episode.states).length %> states</div>
                <div><%= JSON.parse(episode.diff_states).length %> diff_states</div>
                <div><%= JSON.parse(episode.commands).length %> commands</div>
                <div><%= JSON.parse(episode.simulator_logs).length %> simulator_logs</div>
                <div><%= episode.trajectory_optimizations.count %> Trajectory Optimizations</div>
                <div>@ <%= episode.created_at.strftime("%F %T") %></div>
              </div>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
<div class="divider"></div>
<h4>Open Source References</h4>
<h6>Bezier Curve Computation : <a href="https://github.com/karatedog/beziercurve">https://github.com/karatedog/beziercurve</a></h6>
<h6>3D Math Computation : <a href="https://github.com/MishaConway/geo3d">https://github.com/MishaConway/geo3d</a></h6>
<h6>3D Renderer : <a href="https://github.com/mrdoob/three.js">https://github.com/mrdoob/three.js</a></h6>
