<div class="columns">
  <div class="column col-12" style="padding:15px;">
    <h3>
      <span class="btn btn-link zmdi zmdi-chevron-left" onclick="history.back(-1)" style="padding:0px;"></span>
      Episode#<%=@episode.id%>. <%= @episode.name %>
    </h3>
  </div>
</div>
<div class="columns">
  <div class="column col-12" style="padding:15px;">
    <h4 style="margin:0px;">Timestep: <%= @episode.timestep %>ms</h4>
  </div>
</div>
<div class="columns">
  <div class="column col-12" style="padding:15px;">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Control Points: <%= @episode.control_points.inspect %></h4>
      </div>
      <div class="card-body">
      </div>
    </div>
  </div>
</div>
<div class="columns">
  <div class="column col-12" style="padding:15px;">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">States: <%= @episode.states.inspect %></h4>
      </div>
      <div class="card-body">
      </div>
    </div>
  </div>
</div>
<div class="columns">
  <div class="column col-12" style="padding:15px;">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">State diffs: <%= @episode.diff_states.inspect %></h4>
      </div>
      <div class="card-body">
      </div>
    </div>
  </div>
</div>
<div class="columns">
  <div class="column col-12" style="padding:15px;">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Commands: <%= @episode.commands.inspect %></h4>
      </div>
      <div class="card-body">
      </div>
    </div>
  </div>
</div>
