<div class="columns">
  <div class="column col-12" style="padding:15px;">
    <h3>
      <i class="btn btn-link zmdi zmdi-chevron-left" onclick="history.back(-1)" style="padding:0px;"></i>
      Episode#<%=@episode.id%>. <%= @episode.name %>
    </h3>
  </div>
</div>
<div class="columns">
  <div class="column col-12" style="padding:15px;">
    <h5 style="margin:0px;">Timestep: <%= @episode.timestep %>ms</h5>
  </div>
</div>
<div class="columns">
  <div class="column col-12" style="padding:15px;">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">control_points</h4>
      </div>
      <div class="card-body">
        <%= @episode.control_points.inspect %>
      </div>
    </div>
  </div>
</div>
<div class="columns">
  <div class="column col-12" style="padding:15px;">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">states</h4>
      </div>
      <div class="card-body">
        <%= @episode.states.inspect %>
      </div>
    </div>
  </div>
</div>
<div class="columns">
  <div class="column col-12" style="padding:15px;">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">diff_states</h4>
      </div>
      <div class="card-body">
        <%= @episode.diff_states.inspect %>
      </div>
    </div>
  </div>
</div>
<div class="columns">
  <div class="column col-12" style="padding:15px;">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">commands</h4>
      </div>
      <div class="card-body">
        <%= @episode.commands.inspect %>
      </div>
    </div>
  </div>
</div>
