<% time_param = "t" if local_assigns[:time_param].nil? %>
<% if data == "null" or JSON.parse(data).empty? %>
  <h6>Chart</h6>
  <h2>Empty Data</h2>
<% else %>
  <h6 id="<%= title %>_chart_header" class="chart-header">Chart</h6>
  <canvas id="<%= title %>_chart"></canvas>
  <script>
  {
    const ctx = document.getElementById('<%= title %>_chart').getContext('2d');
    //noinspection JSAnnotator
    const data = <%= raw data %>;
    //noinspection JSAnnotator
    const keys = <%= raw keys %>;
    const listByKey = (datum, key) => datum.map(obj => obj[key]);
    const time_param = "<%= time_param %>";
    let displayLegend = false;
    const labels = {
      x: "x",
      y: "y",
      z: "z",
      rx: "rx",
      ry: "ry",
      rz: "rz",
      dx: "dx",
      dy: "dy",
      dz: "dz",
      drz: "drz",
    };
    const colors = {
      x: "rgb(255, 127, 127)",
      y: "rgb(127, 255, 127)",
      z: "rgb(127, 127, 255)",
      rx: "rgb(127, 255, 255)",
      ry: "rgb(255, 127, 255)",
      rz: "rgb(255, 255, 127)",
      dx: "rgb(255, 127, 127)",
      dy: "rgb(127, 255, 127)",
      dz: "rgb(127, 127, 255)",
      drz: "rgb(127, 127, 127)",
      white: "#fff",
    };
    const <%= title %>Chart = new Chart(ctx, {
      type: 'line',
      data: {
        datasets: data.map((datum, index) => keys.map(key => ({
          label: labels[key] + "_" + index,
          fill: false,
          borderColor: colors[key],
          pointBorderColor: colors[key],
          pointBackgroundColor: colors.white,
          pointHoverBackgroundColor: colors[key],
          pointHoverBorderColor: colors.white,
          data: datum.map(obj => ({
            x: obj[time_param],
            y: obj[key]
          })),
        }))).reduce((a, b) => a.concat(b))
      },
      options: {
        scales: {
          xAxes: [{
            type: 'linear',
            position: 'bottom'
          }],
          yAxes: [{
            id: 'position',
            type: 'linear',
            position: 'left',
            scaleLabel: {
              display: true,
              labelString: 'Position : x, y, z in [m]      Velocity : dx, dy, dz in [m/s]'
            }
          },
          {
            id: 'rotation',
            type: 'linear',
            position: 'right',
            scaleLabel: {
              display: true,
              labelString: 'Rotation Angle : rx, ry, rz in [degree]      Rotation Angular Velocity : drz in [degree/s]'
            }
          }]
        },
        // Legend
        legend: {
          display: displayLegend
        },
        // Panning & Zooming
        pan: {
          enabled: true,
          mode: 'x',
        },
        zoom: {
          enabled: true,
          mode: 'x',
        }
      }
    });
    document.querySelector('#<%= title %>_chart_header').addEventListener('click', (event) => {
      <%= title %>Chart.config.options.legend.display = displayLegend = !displayLegend;
      <%= title %>Chart.update();
    });
  }
  </script>
<% end %>
