<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!-- Spectre CSS -->
  <link rel="stylesheet" href="https://cdn.bootcss.com/spectre.css/0.1.27/spectre.min.css">
  <!-- Material Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
  <!-- ChartJS for spline chart -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
  <script type="text/javascript" src="https://npmcdn.com/chart.js@2.4.0/dist/Chart.bundle.min.js"></script>
  <script type="text/javascript" src="https://npmcdn.com/Chart.Zoom.js@0.3.0/Chart.Zoom.min.js"></script>
  <!-- ThreeJS for WebGL rendering -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r79/three.min.js"></script>
  <script type="text/javascript" src="/js/threejs/controls/TrackballControls.js"></script>
  <script type="text/javascript" src="/js/threejs/libs/timeliner_gui.min.js"></script>
  <script type="text/javascript" src="/js/threejs/TimelinerController.js"></script>
</head>
<body>
  <div class="container grid-960">
    <% if @optimization %>
      <%= render partial: "layouts/navbar", locals: { controller: params[:controller], action: params[:action], episode: @optimization.episode, optimization: @optimization, url: request.original_url } %>
    <% else %>
      <%= render partial: "layouts/navbar", locals: { controller: params[:controller], action: params[:action], episode: @episode, optimization: @optimization, url: request.original_url } %>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
